# Assignment 4

## Task 1:

Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of

the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.

The moving averages with k=4 of a ten-value sequence (n=10) is shown below

i 1 2 3 4 5 6 7 8 9 10

===== == == == == == == == == == ==

Input 10 20 30 40 50 60 70 80 90 100

y1 25 = (10+20+30+40)/4

y2 35 = (20+30+40+50)/4

y3 45 = (30+40+50+60)/4

y4 55 = (40+50+60+70)/4

y5 65 = (50+60+70+80)/4

y6 75 = (60+70+80+90)/4

y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

-> Problem Statement:

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [29]:
def moving_average(lt,windowsize):
    seq_size = len(lt)-windowsize+1
    i=0
    for k in range(seq_size):
        avg = sum(lt[i:i+3])/windowsize    
        print("y%d = %d"%(k+1,avg))
        print(lt[i:i+3])
        i+=1

In [30]:
lt=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
w = 3

In [31]:
moving_average(lt,w)

y1 = 5
[3, 5, 7]
y2 = 4
[5, 7, 2]
y3 = 5
[7, 2, 8]
y4 = 6
[2, 8, 10]
y5 = 9
[8, 10, 11]
y6 = 28
[10, 11, 65]
y7 = 49
[11, 65, 72]
y8 = 72
[65, 72, 81]
y9 = 84
[72, 81, 99]
y10 = 93
[81, 99, 100]
y11 = 116
[99, 100, 150]

## Task 2:

1) How-to-count-distance-to-the-previous-zero

For each value, count the difference back to the previous zero (or the start of the Series,

whichever is closer)

create a new column 'Y'

Consider a DataFrame df where there is an integer column 'X'

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})

In [82]:
d = np.where(df['X']==0)
d
l=[]

In [83]:
for i in range(len(df['X'])):   
    for k in range(i-1,0,-1):
        if df['X'][k] == 0:
            l.append(i-k)
            break
    else:
        l.append(0)

In [85]:
df['Y'] = l

In [86]:
df

   X  Y
0  7  0
1  2  0
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  5
8  3  1
9  4  2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [91]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [92]:
#findin businessdays of 2015
us_bd = CustomBusinessDay(calendar=USFederalHolidayCalendar())
bd = pd.DatetimeIndex(start = '2015-01-01',end='2015-12-31',freq=us_bd)

In [122]:
#generating random number and creating dataframe and adding businessdays as index
df = pd.DataFrame(data=np.random.rand(len(bd)),index=bd,columns=['random_number'])

In [123]:
df.head()

            random_number
2015-01-02       0.066838
2015-01-05       0.820228
2015-01-06       0.088619
2015-01-07       0.836740
2015-01-08       0.331322


    
 
 
3) Find the sum of the values in s for every Wednesday

In [124]:
df['day'] = bd.dayofweek #adding days of week to dataframe

In [125]:
df.head()

            random_number  day
2015-01-02       0.066838    4
2015-01-05       0.820228    0
2015-01-06       0.088619    1
2015-01-07       0.836740    2
2015-01-08       0.331322    3

In [127]:
sum(df.iloc[np.where(df['day']==2)]['random_number']) #2 is wednesday

25.99136607487047

4) Average For each calendar month

In [128]:
df['month'] = bd.month

In [130]:
df.head()

            random_number  day  month
2015-01-02       0.066838    4      1
2015-01-05       0.820228    0      1
2015-01-06       0.088619    1      1
2015-01-07       0.836740    2      1
2015-01-08       0.331322    3      1

In [135]:
from statistics import mean
[mean(df.iloc[np.where(df['month']==i)]['random_number']) for i in df['month'].unique()] #finding average of each month

[0.45043993526989556,
 0.5575473278204888,
 0.4509484944689245,
 0.6184061875754647,
 0.38204519730793873,
 0.5134132588841724,
 0.4564858771205535,
 0.538832780211885,
 0.5214918409154232,
 0.4463942301743087,
 0.4525602246421863,
 0.48477010701077156]

5) For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [146]:
df['month'] = df['month'].map({1:1,2:1,3:1,4:1,5:2,6:2,7:2,8:2,9:3,10:3,11:3,12:3})

In [147]:
df.tail()

            random_number  day  month
2015-12-24       0.930656    3      3
2015-12-28       0.249184    0      3
2015-12-29       0.874480    1      3
2015-12-30       0.587179    2      3
2015-12-31       0.690135    3      3

In [148]:
#max of group of consecutive calender months
[max(df.iloc[np.where(df['month']==i)]['random_number']) for i in df['month'].unique()]

[0.9969752388655677, 0.9958417762609005, 0.9924000695810691]